[build]
  publish = "./.vitepress/dist"
  command = "npm run build"

[[redirects]]
  from = "/sitemap.xml"
  to = "/sitemap.xml"
  status = 200

[[redirects]]
  from = "/feed.xml"
  to = "/feed.xml"
  status = 200

# 处理所有路径，确保SPA正常工作
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
  Cache-Control = "max-age=86400"
  Server = "Fuck Web Server"

[[headers]]
  for = "/posts/*"
  [headers.values]
  Cache-Control = "max-age=604800"

[[headers]]
  for = "/images/*"
  [headers.values]
  Cache-Control = "max-age=2592000"

[[headers]]
  for = "/assets/*"
  [headers.values]
  Cache-Control = "max-age=2592000"

[[headers]]
  for = "/redirect"
  [headers.values]
  Cache-Control = "max-age=2592000"