@font-face {
  font-family: 'xiaolai';
  src: url('https://cdn.jsdmirror.cn/gh/FrecklyComb1728/blog@main/public/fonts/XiaolaiMonoSC-Regular.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/FrecklyComb1728/blog@main/public/fonts/XiaolaiMonoSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}