@font-face {
  font-family: 'xiaolai';
  src: url('./XiaolaiMonoSC-Regular.woff2') format('woff2'),
       url('./XiaolaiMonoSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

